{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

    <main>

    <div>

      <h2 id="toc_0">Pre-Term Getaway</h2>

      <br><p>On Monday 28th September, just before International Freshers&rsquo; Week, the CUs of Sidney Sussex, Corpus Christi and St. Catharine&rsquo;s Colleges will be joining GCU for a day of summer catch-up, gospel teaching, worship, games and much cake in the Stanley Library at Girton College (so maybe &ldquo;Getaway&rdquo; is pushing it a bit...).</p>

      We'd love this to be a day where as much of our community can come together to prepare to open our arms to all the new faces who will be coming to our college in the following week. So please sign up


      <!-- Select form type - link or embedded -->

      <!-- using <a href="http://goo.gl/forms/y5cmxh6id9">this form<a>  -->
      using the form below
      as soon as you can. If you need help with arranging early arrival, <a href="mailto:{{.Site.Params.JointRepEmail}}">give us a shout</a>.<p>


      <h3>It&rsquo;s for freshers too!</h3>

      <p>If you&rsquo;re reading this as a fresher preparing to come to college this October and can&rsquo;t wait to get stuck into CU when you arrive, then this day is for you too! If you&rsquo;d like to come then do <a href="mailto:{{.Site.Params.JointRepEmail}}">drop us an email</a>, and we&rsquo;ll get in touch with you to help you arrange to arrive in college a week early.<p>


      <h3>Resources</h3>

      <p>Check back here closer to the time to find resources for the day, like timetables, instructions about food and so on.<p>

      <br>


      <!-- Embedded Google form -->
      <iframe src="https://docs.google.com/forms/d/1kAqpnQoV-Vvoqr5oE8G09YYi0Gz93oZ266foKa9YKZk/viewform?embedded=true" width="625" height="1024" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>




</div>

</main>
</body>
