{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

    <main>

    <div>

    <h2 id="toc_0">Freshers</h2>

    <p>If you&rsquo;re coming to Cambridge in October, then congratulations! We&rsquo;re really excited for the start of next term, and hopefully you are too. Please do <a href="/contact">get in touch</a> - we&rsquo;d really love to hear from you. If you have any questions at all, just send us an email and we&rsquo;ll get back to you!{{ partial "freshersfacebook.html" . }}

    <h2 id="toc_1">Freshers' Getaway</h2>

    <p>If you&rsquo;re interested in meeting other Christian&rsquo;s coming to Cambridge this year, then CICCU would like to warmly invite you to this year&rsquo;s Freshers&rsquo; Getaway in Herefordshire before the start of term from 24th - 26th September.</p>

    <p>All the information you should need to know about it can be found <a href="http://ciccu.org.uk/freshers/" target="_blank">here<a>
</p>

    <h2 id="toc_2">Church Breakfasts</h2>

    <p>At the start of term, we put on a free breakfast on the first few Sunday mornings before heading off to church. There are lots of great churches in Cambridge, so we hope that coming to breakfast and hearing a bit about each church should make it much easier to find a church you like! We'll be meeting from 9am on 4th and 11th October in Old Kitchens (follow the signs!) and we'd love to see you there.</p>

    <p>If you have any questions about churches in Cambridge, or just want to know a bit more, then <a href="/contact">let us know</a>.</p>


</div>

</main>
</body>
