{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseUrl }}

    <main>

    <div>
    <h2>About Us</h2>

<p>The {{ .Site.Params.CollegeInitials }} exists to make Jesus Christ known in {{ .Site.Params.CollegeName }}, and provide a support base for Christians within college. We are part of the Cambridge Inter-Collegiate Christian Union, <a href="http://www.ciccu.org.uk">CICCU</a>. We don't have any links to any particular church – we welcome Christians from all backgrounds!</p>

<h2>What do we do?</h2>

<p>We meet together every Wednesday evening, to read the Bible together and pray. This isn't an intense Bible study, but it's a chance to grow together as a community, and to encourage and equip each other to live out our faith in all aspects of university life. </p>
</div>

</main>
</body>
