{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseUrl }}
    <main>
    <div>
<h2 id="toc_0">Welcome!</h2>

<p>{{ .Site.Params.CollegeName }} CU is a group of Christians in {{ .Site.Params.CollegeName }}. Our aim is to make Jesus Christ known to students in college, as well as to help each other to grow in our relationship with God. You can read more about us <a href="/about">here</a>.</p>


<h2 id="toc_1">Coming to {{.Site.Params.CollegeShortName}} in October?</h2>

<p>We've got loads of stuff for Freshers <a href="/freshers">here</a>.</p>


<h2 id="toc_2">Pre-term Getaway</h2>

<p>Find all the information about our pre-term getaway on Monday 28th September <a href="/getaway">here<a>.

</div>

</main>
</body>
